<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="google.abdallah.quranproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".Prayer.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/coranmalagasy"
        android:label="Qur\'an Malagasy"
        android:roundIcon="@mipmap/coranmalagasy_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ShatredActivity"></activity>
        <activity android:name=".Activity.RabanaActivity" />
        <activity android:name=".Activity.TasbihActivity" />
        <activity android:name=".Activity.FavoriesActivity" />
        <activity android:name=".Activity.Settings" />
        <activity android:name=".Activity.PrayerActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.JuzActivity" />
        <activity android:name=".Activity.SurahActivity" />
        <activity android:name=".Compass.CompassActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.ResearchActivity" />
        <activity android:name=".Activity.Main2Activity" />
        <activity android:name=".Activity.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Receiver.Azan" />
        <service android:name=".Prayer.PlayerService" />
        <service android:name=".Compass.GPSTracker" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>